.posts {
  box-shadow: -1px 0px 4px 2px rgba($color: #000000, $alpha: 0.45);
  width: 320px;
  border-radius: 16px;
  padding: 14px;
  overflow: hidden;
  box-sizing: border-box;
  // min-height: 100px;
  // transition: 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) all;
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    margin: 2% 2%;
  }
  // &-header {
  //   cursor: pointer;
  // }
  h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: cursive;
  }
  &-title_head {
    font-weight: bolder;
  }
  &-title_name {
    text-transform: uppercase;
  }
  &-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &-message,
  .address {
    margin: 0;
    margin-top: 10px;
    width: 100%;
  }
  &-btn_group {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 2px;
    box-sizing: border-box;
  }
  &-donate_btn {
    border: 1px;
    background-color: #00bcd4;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14),
      0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
    padding: 4px;
    font-weight: bold;
    font-size: 13.5px;
    outline: none;
    cursor: pointer;
    z-index: 9999;
    letter-spacing: 1.5px;
    width: 25%;
    color: white;
    border-radius: 25px;
  }
  &-donate_btn:hover {
    box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42),
      0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
    background-color: #00aec5;
    border-color: #008697;
  }
  &-control_component {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  &-delete_btn,
  &-edit_btn {
    outline: none;
    cursor: pointer;
    padding: 0px;
    width: 45%;
    border-radius: 25px;
    border: none;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.428571;
    text-decoration: none;
  }
  &-delete_btn {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14),
      0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
  }
  &-delete_btn:hover {
    box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42),
      0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
    background-color: #f33527;
    border-color: #e11b0c;
  }
  &-edit_btn {
    color: #fff;
    background-color: #999;
    border-color: #999;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 60%, 0.14),
      0 3px 1px -2px hsla(0, 0%, 60%, 0.2), 0 1px 5px 0 hsla(0, 0%, 60%, 0.12);
  }
  &-edit_btn:hover {
    box-shadow: 0 14px 26px -12px hsla(0, 0%, 60%, 0.42),
      0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px hsla(0, 0%, 60%, 0.2);
    background-color: #919191;
    border-color: #7a7a7a;
  }
}
@media (max-width: 480px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}
