.posts {
  box-shadow: -1px 0px 4px 2px rgba($color: #000000, $alpha: 0.45);
  width: 300px;
  border-radius: 8px;
  margin-left: 8px;
  margin-top: 16px;
  cursor: pointer;
  padding: 8px;
  min-height: 30px;
  box-sizing: border-box;
  h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: cursive;
  }
  &-title_head {
    font-weight: bold;
  }
  &-title_name {
    text-transform: uppercase;
  }
}
