.login {
  border: 1px solid rgba($color: #000000, $alpha: 0.115);
  border-radius: 16px;
  box-shadow: 1px 1px 4px 3px rgba($color: #000000, $alpha: 0.115);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 320px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  box-sizing: border-box;
  margin-top: 8px;
  transition: 1000ms height ease-in-out;
  h4 {
    font-weight: 400;
    margin: 12px 0px;
    text-transform: uppercase;
  }
  input {
    outline: none;
    border: 1px solid rgba($color: #000000, $alpha: 0.15);
    padding: 12px 16px;
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px 1px rgba($color: #000000, $alpha: 0.115);
  }
  .submit,
  .back {
    background: #8484ff;
    color: white;
    cursor: pointer;
    width: 42%;
    max-width: 53%;
    transition: 700ms cubic-bezier(0.075, 0.82, 0.165, 1) width;
    border: 1px solid #8484ff;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 12px;
    outline: none;
    &:hover {
      background: #6464ff;
      width: 53%;
    }
  }
  .btn-wrap {
    width: 262px;
    display: flex;
    justify-content: space-around;
  }
  .error-message {
    color: red;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    // align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
  }
}
