.navbar {
  // background: #f4f4f4;
  background: rgba($color: #000000, $alpha: 0.55);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  &-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 25px;
  }
  .btn-group {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
  .btn-posts_signout {
    display: flex;
    width: 220px;
    justify-content: space-between;
  }
  &-add_posts {
    border: 2px solid rgba(255, 0, 0, 0.25);
    background: rgba(255, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.65);
    outline: none;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 24px;
    width: 115px;
    height: 30px;
    box-sizing: border-box;
    font-weight: bolder;
    cursor: pointer;
    &:hover {
      background: rgba(255, 0, 0, 1);
    }
  }
  &-signout,
  &-signup,
  &-signin {
    border: 2px solid rgba(255, 0, 0, 0.25);
    background: rgba(255, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.65);
    outline: none;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 24px;
    width: 85px;
    height: 30px;
    box-sizing: border-box;
    font-weight: bolder;
    cursor: pointer;
    &:hover {
      background: rgba(255, 0, 0, 1);
    }
  }
}
// @media (max-width: 480px) and (min-width: 320px) {
//   .btn-group {
//     width: 180px;
//   }
//   .btn-posts_signout {
//     width: 200px;
//     padding: 2px 4px;
//   }
//   .navbar-add_posts {
//     width: 80px;
//     font-size: 18px;
//   }
//   .navbar-signout,
//   .navbar-signup,
//   .navbar-signin {
//     width: 80px;
//     font-size: 12px;
//   }
// }
